.login {
margin-top: 100px;
    text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
button{
    border: none;
    border-radius: 10px;
    padding: 20px 25px;
    width: 300px;
    font-size: 20px;
    background-color: gray;
    color:white;
     font-family: Verdana, Geneva, Tahoma, sans-serif
}
a {
    text-decoration: none;
    color: white;
}
button:hover {
    background-color: green;
    cursor: pointer;
    transition: 2s;
}